# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks
.ipynb_checkpoints/

# Virtual Environment
coding-practise/

NLP/Sentiment-Analysis-NLP-for-Marketting-main.zip
Udemy/ML_A_to_Z/Machine Learning-A-Z-Codes-Datasets